<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    {% include "partials/en/header.njk" %}

    {{ content | safe }}

    {% include "partials/en/footer.njk" %}

    <script src="/bundle.js"></script>
  </body>
</html>
