---
---

<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
<a href="#main-content" class="skip-link">Skip to main content</a>

    {% include "partials/header.njk" %}

<a id="main-content" name="main-content"></a>

    {{ content | safe }}

    {% include "partials/footer.njk" %}

    <script src="/bundle.js"></script>
  </body>
</html>