<footer class="footer">
	<div class="container">
		<div class="footer-grid">
			<div class="footer-col">
				<h3>facilealire.fr</h3>
				<p>Rendre le contenu lisible pour tous.<br />Générateur FALC gratuit.</p>
				<p><img src="https://www.inclusion-europe.eu/wp-content/uploads/2019/03/Easy-to-read-logo.jpg"
						alt="Nous respectons les règles européenes pour une information facile à lire et à comprendre" />
				</p>
			</div>
			<div class="footer-col">
				<h3>Produit</h3>
				<a href="/fr/content/comment-ca-marche">Comment ça marche</a>
				<a href="/fr/content/environnement">Engagement écologique</a>
			</div>
			<div class="footer-col">
				<h3>Légal</h3>
				<a href="/fr/content/confidentialite">Politique de confidentialité</a>
				<a href="/fr/content/copyright">Droits d'auteur</a>
			</div>
			<div class="footer-col">
				<h3>À propos</h3>
				<a href="https://github.com/yvzn/easy-to-read">Code source</a>
				<a href="/fr/content/contact">Nous contacter</a>
				<a href="/fr/content/blog">Blog</a>
			</div>
		</div>
		<div class="footer-bottom">
			<p>&copy; 2026 Yvan Razafindramanana.</p>
			<p>&copy; European Easy-to-Read Logo: Inclusion Europe. More information at <a
					href="https://www.inclusion-europe.eu/easy-to-read">www.inclusion-europe.eu/easy-to-read</a></p>
		</div>
	</div>
</footer>
