<footer class="footer">
	<div class="container">
		<div class="footer-grid">
			<div class="footer-col">
				<h3>easyread.me</h3>
				<p>Making content readable for everyone.</p>
				<p><img src="https://www.inclusion-europe.eu/wp-content/uploads/2019/03/Easy-to-read-logo.jpg" alt="We respect European standards for making information easy to read and understand" /></p>
			</div>
			<div class="footer-col">
				<h3>Product</h3>
				<a href="/en/content/how-it-works">How EasyRead.me Works</a>
				<a href="/en/content/sustainability">Sustainability Commitment</a>
			</div>
			<div class="footer-col">
				<h3>Legal</h3>
				<a href="/en/content/privacy">Privacy Policy</a>
				<a href="/en/content/copyright">Copyright Information</a>
			</div>
			<div class="footer-col">
				<h3>About</h3>
				<a href="https://github.com/yvzn/easy-to-read">Source code</a>
				<a href="/en/content/contact">Contact us</a>
				<a href="/en/content/blog">Blog</a>
			</div>
		</div>
		<div class="footer-bottom">
			<p>&copy; 2026 Yvan Razafindramanana.</p>
			<p>&copy; European Easy-to-Read Logo: Inclusion Europe. More information at <a href="https://www.inclusion-europe.eu/easy-to-read">www.inclusion-europe.eu/easy-to-read</a></p>
		</div>
	</div>
</footer>
