<a href="#main-content" class="skip-link">Skip to main content</a>

<header class="header">
	<nav class="container nav">
		<a href="/" class="logo" aria-label="Homepage">easyread.me</a>
		<div class="nav-links">
			{{ extraNavLinks | safe }}
			<a href="https://facilealire.fr">French</a>
			<a href="/en/app" class="btn btn-primary {{ 'd-none' if smallCta === 'no'}}" id="cta-small">Start for
				free</a>
		</div>
	</nav>
</header>

<a id="main-content" name="main-content"></a>
