/* Light theme variables */
:root {
  /* Colors */
  --color-background: #FCF8F3;
  --color-background-alt: #F5EFE8;
  
  /* Main color for interactive elements */
  --color-primary: hsl(223, 22%, 51%);
  --color-primary-dark: hsl(222, 20%, 37%);
  --color-primary-light: hsl(223, 22%, 51%);
  
  /* CTA color */
  --color-secondary: #AEDADD;
  --color-secondary-dark: #9DC5C4;
  --color-secondary-light: #C4E5E7;
  
  /* Accent color for non-interactive elements */
  --color-accent: hsl(24, 61%, 43%);
  --color-accent-dark: #C98B61;
  --color-accent-light: #E5AD89;
  
  /* Gray scale */
  --color-gray-50: #FCF8F3;
  --color-gray-100: #F5EFE8;
  --color-gray-200: #E5DED5;
  --color-gray-300: #D1C9C0;
  --color-gray-600: #8A827A;
  --color-gray-700: #6B635C;
  --color-gray-800: #4A433D;
  --color-white: #FFFFFF;
}