<header class="header">
	<nav class="container nav">
		<a href="/" class="logo" aria-label="Homepage">easyread.me</a>
		<div class="nav-links">
			<a href="https://facilealire.fr">French</a>
			<a href="/en/app" class="btn btn-primary" id="cta-small">Start</a>
		</div>
	</nav>
</header>
