{
	"IsEncrypted": false,
	"Values": {
		"AzureWebJobsStorage": "UseDevelopmentStorage=true",
		"FUNCTIONS_WORKER_RUNTIME": "node",
		"GITHUB_TOKEN": "change_me",
		"INTERACTIONS_STORAGE_CONNECTION_STRING": "UseDevelopmentStorage=true"
	}
}
